@import '../shared/variables.scss';
@import './slider-track/slider-track.scss';

.friends-section {
  background-color: $color-light-l;
}

.friends-content {
  display: flex;
  flex-direction: column;
  gap: calc($std-gap * 3);
  align-items: center;
}

.friends-heading {
  max-width: 400px;
  text-align: center;
}

/*===========================
  slider wrapper and controls
  ===========================*/

.friends-slider {
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.slide-prev-btn {
  background-image: url('../../assets/img/3_friends/Arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.slide-next-btn {
  @extend .slide-prev-btn;

  transform: scale(-1);
}

.slider-btn-mobile-wrapper {
  display: none;
}

/*=============
  slider itself
  =============*/

@media (max-width: 768px) {

  .friends-slider {
    gap: 10px;
  }
}

@media (max-width: 400px) {
  .friends-content {
    gap: 40px;
  }

  .friends-slider {
    flex-direction: column;
    gap: 20px;
  }

  .slider-btn-mobile-wrapper {
    display: flex;
    gap: 80px;
  }

  

  .slide-next-btn {
    display: none;

    &.mobile-btn {
      display: block;
    }
  }

  .slide-prev-btn {
    display: none;

    &.mobile-btn {
      display: block;
    }
  }
}