@import '../shared/variables.scss';

.friends-section {
  background-color: $color-light-l;
}

.friends-content {
  display: flex;
  flex-direction: column;
  gap: calc($std-gap * 3);
  align-items: center;
}

.friends-heading {
  max-width: 400px;
  text-align: center;
}

/*===========================
  slider wrapper and controls
  ===========================*/

.friends-slider {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slide-prev-btn {
  background-image: url('../../assets/img/3_friends/Arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.slide-next-btn {
  @extend .slide-prev-btn;

  transform: scale(-1);
}

.slider-btn-mobile-wrapper {
  display: none;
}

/*=============
  slider itself
  =============*/

.slider-container {
  max-width: 990px;
  width: 100%;
}

.slider-track {
  display: flex;
  justify-content: space-between;
  gap: $std-gap;
  flex-wrap: wrap;
}

.slider-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc($std-gap * 1.5);

  padding-bottom: calc($std-gap * 1.5);

  background: $color-light-s;
  border-radius: 9px;

  transition: $transition-time;

  &:hover {
    background-color: $color-light-xl;
    cursor: pointer;

    &>.card-btn {
      background-color: $color-primary-light;
      border-color: $color-primary-light;
    }
  }
}

.card-img {
  width: 100%;
}

.card-name {
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;

  color: $color-dark-l;
}

@media (max-width: 768px) {
  .slider-card:nth-child(n + 3){
    display: none;
  }

  .slider-track {
    column-gap: 40px;
    justify-content: center;
  }

  .friends-slider {
    gap: 10px;
  }
}

@media (max-width: 400px) {
  .friends-content {
    gap: 40px;
  }

  .slider-card:nth-child(n + 2){
    display: none;
  }

  .friends-slider {
    flex-direction: column;
    gap: 20px;
  }

  .slider-btn-mobile-wrapper {
    display: flex;
    gap: 80px;
  }

  .slide-next-btn {
    display: none;

    &.mobile-btn {
      display: block;
    }
  }

  .slide-prev-btn {
    display: none;

    &.mobile-btn {
      display: block;
    }
  }
}