@import 'variables.scss';

:root {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;

  font-family: $arial-font;
}

img {
  display: block;
}

.content-wrapper {
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 calc($std-gap + 10px);
}

.outer-section-wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}

.h-2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;

  color: $color-dark-l;
}

.h-3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;

  letter-spacing: 0.06em;

  color: $color-dark-l;
}

.h-4 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;

  letter-spacing: 0.06em;

  color: $color-dark-l;
}

.h-5 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;

  letter-spacing: 0.06em;

  color: $color-dark-l;
}

.paragraph-l {
  font-family: 'Arial';
  font-size: 15px;
  line-height: 160%;

  color: $color-dark-xl;
}

.paragraph-s {
  font-family: 'Arial';
  font-style: italic;
  font-size: 12px;
  line-height: 150%;

  color: $color-dark-m;
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: $georgia-font;
  font-size: 17px;
  line-height: 130%;

  background-color: transparent;

  border-width: 2px;
  border-style: solid;
  border-radius: 100px;

  transition: 0.3s;
}

.btn-primary {
  padding: 15px 45px;

  letter-spacing: 0.06em;

  background: $color-primary;
  border-color: transparent;
}

.btn-secondary {
  @extend .btn-primary;

  background: unset;
  border-color: $color-primary;
}

.btn:hover {
  background-color: $color-primary-light;
  border-color: $color-primary-light;
  cursor: pointer;
}

.btn-arrow,
.btn-paginator,
.btn-modal-close {
  @extend .btn;

  flex-shrink: 0;

  width: 52px;
  height: 52px;

  padding: 0;

  border-color: $color-primary;
}

.inactive {
  color: $color-dark-s;
  border-color: $color-dark-s;
  background-color: transparent;

  &:hover {
    background-color: transparent;
    border-color: $color-dark-s;
    cursor: default;
  }
}

.primary-color-text {
  color: $color-primary;
}

.light-color-text {
  color: $color-light-xl;
}

@media (max-width: $media-query-nav-shift){
    .content-wrapper {
    padding-left: calc($std-gap/2);
    padding-right: calc($std-gap/2);
  }
}

@media (max-width: 400px) {
  .h-2 {
    font-size: 25px;

    letter-spacing: 0.06em;
  }

  .h-3 {
    font-size: 25px;
  }

  .h-4 {
    font-size: 15px;
  }

  .h-5 {
    letter-spacing: unset;
  }

  .outer-section-wrapper {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}