$std-gap: 20px;
$transition-time: 0.3s;


$georgia-font: 'Georgia';
$arial-font: 'Arial';


$color-primary: #F1CDB3;
$color-primary-light: #FDDCC4;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;

$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;