.about-section {
  padding-top: 80px;
  padding-bottom: 100px;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-item {
  flex: 0 1 427px;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}