@import '../../styles/shared/variables.scss';

.content-friends {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.slider-container {
  max-width: unset;
}

.slider-track {
  row-gap: 30px;
}

.section-heading {
  max-width: 400px;
  text-align: center;
}

.pagination-btns {
  display: flex;
  max-width: 340px;
  width: 100%;
  justify-content: space-between;
  gap: calc($std-gap / 4);

  .current-page-btn {
    background-color: $color-primary;
  
    &:hover {
      background-color: $color-primary;
  
      border-color: $color-primary;
  
      cursor: default;
    }
  }
}

.pagination-track {
  position: static;
  width: unset;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .slider-card {
    display: flex;
  }
}

@media (max-width: 768px) {
  // .slider-card.slider-large {
  //   display: flex;

  //   &:nth-child(n + 7) {
  //     display: none;
  //   }
  // }

  .content-friends {
    gap: 30px;
  }

  .pagination-wrapper {
    margin-top: 10px;
  }
}

@media (max-width: 400px) {
  .pagination-wrapper {
    gap: 10px;
  }
}